<header>
  <div class="wrapper">
    <div class="title group">
      <%= image_tag asset_path('phinderLogo.svg'), class: 'logo' %>
      <h1>Phinder</h1>
    </div>
    <div class="search group">
      <div class="search-wrapper">
        <input type="text" name="q" placeholder="Search..."/>
        <input type="image" name="search" alt="search" src="<%= asset_path 'searchIcon.svg' %>"/>
        <input type="image" name="config" alt="config" src="<%= asset_path 'configIcon.svg' %>"/>
      </div>
    </div>
    <div class="overlay-buttons group">
      <%= image_tag asset_path('stagingIcon.svg'), class: 'overlay-button staging' %>
      <%= image_tag asset_path('accountsIcon.svg'), class: 'overlay-button accounts' %>
    </div>
  </div>
</header>
<nav>
  <div class="select-all action">
    <input type="checkbox" id="select-all" name="select-all"/>
    <label for="select-all">Select All</label>
  </div>
</nav>
<div class="centring-flex">
  <section class="grid">
    <!-- TODO: Actual items. -->
    <% 50.times do || %>
    <div class="centring-flex">
      <div class="item photo">
        <%= image_tag asset_path('placeholder.jpg'), class: 'preview' %>
        <div class="name">Placeholder</div>
        <div class="date">2020-06-18 16:19:00</div>
      </div>
    </div>
    <% end %>
  </section>
</div>
