:root {
  --header-padding: 10px;
  --header-inner-width: calc(100vw - 2 * var(--header-padding));
  --header-height: 45px;
  --header-inner-height: calc(var(--header-height) - 2 * var(--header-padding));
  --header-background-color: #3040A0;

  --site-title-font-size: 21pt;

  --nav-padding: 2px;
  --nav-inner-width: calc(100vw - 2 * var(--nav-padding));
  --nav-height: 24px;
  --nav-inner-height: calc(var(--nav-height) - 2 * var(--nav-padding));

  --grid-gap: 2px;
  --grid-padding: 10px;
  --grid-item-width: 350px;
}

body {
  margin: 0;
}

header {
  color: #fff;
  background-color: var(--header-background-color);
  width: var(--header-inner-width);
  height: var(--header-inner-height);
  padding: var(--header-padding);
}

header .wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

header .wrapper div * {
  display: inline;
  justify-content: unset;
}

header h1 {
  font-size: var(--site-title-font-size);
  line-height: 1;
}

header div.title.group img.logo {
  height: var(--header-inner-height);
}

header div.search.group {
  flex: 1;
  margin-left: 15px;
  margin-right: 15px;
}

header div.search.group .search-wrapper {
  display: flex;
}

header div.search.group .search-wrapper input[type='text'] {
  flex: 1;
}

header div.search.group .search-wrapper input[type='image'] {
  height: var(--header-inner-height);
  padding-left: 2px;
}

header div.overlay-buttons.group .overlay-button {
  height: var(--header-inner-height);
  margin-left: 1px;
  margin-right: 1px;
}

nav {
  background-color: #fff;
  border-bottom-color: var(--header-background-color);
  border-bottom-width: 1px;
  border-bottom-style: solid;
  width: var(--nav-inner-width);
  height: var(--nav-inner-height);
  padding: var(--nav-padding);
}

nav * {
  display: inline;
}

.centring-flex {
  width: 100%;
  display: flex;
  justify-content: center;
}

section.grid {
  width: calc(100vw - var(--grid-padding) * 2);
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(var(--grid-item-width), 1fr));
  gap: var(--grid-gap);
}

section.grid .item {
  display: inline-grid;
  width: var(--grid-item-width);
}

section.grid .item * {
  display: block;
}

section.grid .item .preview {
  width: var(--grid-item-width);
}
