<!DOCTYPE html>
<html>
  <head>
    <title>Phinder</title>
    <meta charset="UTF-8">
    <meta name="description" content="A photography management platform">
    <meta name="keywords" content="Photo Analysis, Image Analysis">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', 'data-turbo-track': 'reload' %>
    <%= favicon_link_tag asset_path('phinderLogo.svg') %>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
